.search__submit-button {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 14px;
  border: none;
  border-radius: 0;
  background: none;
  background-image: url(../../../images/search.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
  transition: background-size 100ms ease-in-out;
}

.search__submit-button:hover {
  opacity: 0.7;
}

.search__submit-button:active {
  background-size: 23px 23px;
}
