.popup__close {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 268px;
  top: -22px;
  background: 0;
  background-image: url(../../../images/x-circle-fill.svg);
  background-size: 44px 44px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  align-self: center;
  transition: opacity 100ms ease-in-out;
  transition: background-size 100ms ease-in-out;
}

@media (max-width: 627px) {
  .popup__close {
    right: calc(50% - 20px);
  }
}

.popup__close:hover {
  opacity: 0.92;
}

.popup__close:active {
  background-size: 42px 42px;
}
