.search__form {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
