.popup__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  font-size: 16px;
  line-height: 17px;
}

@media (max-width: 530px) {
  .popup__subtitle {
    font-size: calc(100vw * 0.03);
    line-height: calc(100vw * 0.031);
    margin-top: 0;
  }
}
