.popup__container {
  margin: 0;
  padding: 0;
  padding-left: 27px;
  padding-top: 50px;
  padding-right: 40px;
  position: relative;
  display: flex;
  z-index: 1000;
  max-width: 580px;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  box-sizing: border-box;
}

@media (max-width: 627px) {
  .popup__container {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 530px) {
  .popup__container {
    padding-top: 30px;
    padding-right: 30px;
  }
}
