.popup__name {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  font-size: 28px;
  line-height: 30px;
  color: #000;
  min-width: 513px;
}

@media (max-width: 530px) {
  .popup__name {
    min-width: calc(100% - 44px);
    margin-bottom: 25px;
    font-size: calc(100vw * 0.052);
    line-height: calc(100vw * 0.053);
  }
}
