.card__mail-icon {
  margin: 0;
  padding: 0;
  background-image: url(../../../images/mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 19px;
  height: 18px;
  border: none;
}
