.popup {
  margin: 0;
  padding: 0;
  padding-top: 126px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(48, 90, 131, 0.25);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-in;
}

@media (max-width: 800px) {
  .popup {
    padding: 0;
    justify-content: center;
  }
}
